body {
    font-family:"Fascinate Inline", system-ui;
    color: rgba(0, 0, 0, 0.861);
    font-weight: 400;
    font-style: normal;
    background-image: url(potoo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#namaDisplay{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
}

#nimDisplay{
    font-family:serif;
    color: black;
}

.result-container {
    background-color: #ffffffc6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%;
    max-width: 500px;
    display: none;
}

.result-container p {
    font-size: 20px;
    margin: 10px 0;
}

.input-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.977);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(86, 17, 52);
}

.navigate-button {
    padding: 10px 20px;
    background-color: #c594a3;
    color: white;
    border: none;
    border-radius: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigate-button:hover {
    background-color: #b65676;
}

.start-button {
    padding: 10px 20px;
    background-color: #4cacaf;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-top: 20px;
}

.start-button:hover {
    background-color: #11546ccf;
}